<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos a MercadoLiebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

<body>
                <header >
                     <div class="top-header">
                            <div class="top-header1">
                            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo de MercadoLiebre"></a>

                            <div class="search-bar">
                                <form class="search">
                                <input type="text" name="search" class="form-search" placeholder="Buscar productos y mas">
                                </form>
                                <i class="fas fa-search"></i>
                            </div></div>


                            <div class="top-header2">
                                <p class="left-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                            </div>
                        </div>
                        <nav class="main-navbar">
                        <ul class="left-navbar" >
                            <li><a href="/">Ofertas</a></li>
                            
                            
                            <li><a href="/trabajando">Preguntas Frecuetes</a></li>
                        </ul>
                        <ul class="right-navbar">
                            <li><a href="/register">Crea tu Cuenta <i class="far fa-address-card"></i></i></a></li>
                            <li><a href="/login">Ingresa <i class="fas fa-sign-out-alt"></i></a></li>
                            <li><a href="/trabajando">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
                        </ul>
                    </nav> 
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>   
            </header>
        <main>
                    <section class="visit">
                            <h3>Sección ofertas del día </h3>    
                        <div class="products">
                                <article>
                                    <img src="/images/img-cafetera-moulinex.jpg"  alt="cafetera" class=product_img>
                                    <div class="main-article">
                                            <i class="fas fa-truck"></i>
                                        <div class="caja-precio">
                                            <p class="precio">$6.700</p>
                                            <p class="discont">40% OFF</p>
                                        </div>
                                            <h4 class="description">cafetera moulinex</h4>
                                    </div>
                                </article>     
                                <article>
                                     <img src="/images/img-macbook-pro-2019.jpg"  alt="Macbook" class="product_img">
                                    <div class="main-article">
                                            <i class="fas fa-truck"></i>
                                        <div class="caja-precio">   
                                                <p class="precio">$230.000</p>
                                                <p class="discont">20% off</p>
                                        </div>
                                        <h4 class="description">Macbook Pro 2019</h4>
                                    </div>
                                </article>
                                <article >  
                                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="product_img">
                                        <div class="main-article">
                                                <i class="fas fa-truck"></i>  
                                            <div class="caja-precio">
                                                <p class="precio">$70.500</p>
                                                <p class="discont">10% off</p>
                                            </div> 
                                                <h4 class="description">Samsung Galaxy S10</h4>
                                        </div>
                                </article>
                                <article >
                                    <img src="/images/img-tv-samsung-smart.jpg"  alt="SmartTv Samsung"class="product_img">
                                    <div class="main-article">
                                            <i class="fas fa-truck"></i> 
                                            <div class="caja-precio"> 
                                                <p class="precio">$23.200</p>
                                                <p class="discont">5% off</p>
                                            </div>  
                                            <h4 class="description">SmartTv Samsung 43"</h4>
                                    </div>
                                </article>
                                <article>
                                    <img src="/images/img-laptop-lenovo.jpg"  alt="laptop lenovo" class=product_img>
                                <div class="main-article">
                                    <i class="fas fa-truck"></i>
                                    <div class="caja-precio">
                                        <p class="precio">$60.700</p>
                                        <p class="discont">40% OFF</p>
                                    </div>
                                    <h4 class="description">laptop lenovo</h4>
                                </div>
                            </article>     
                            <article>
                                <img src="/images/img-mouse-logitech.jpg"  alt="mouse logitech" class="product_img">
                                <div class="main-article">
                                    <i class="fas fa-truck"></i>
                                    <div class="caja-precio">   
                                        <p class="precio">$2000</p>
                                        <p class="discont">8% off</p>
                                    </div>
                                    <h4 class="description">mouse logitech</h4>
                                </div>
                            </article>
                                <article >  
                                    <img src="/images/img-heladera-whirpool.jpg" alt="heladera whirpool" class="product_img">
                                        <div class="main-article">
                                            <i class="fas fa-truck"></i>  
                                            <div class="caja-precio">
                                                <p class="precio">$80.500</p>
                                                <p class="discont">10% off</p>
                                            </div> 
                                            <h4 class="description">heladera whirpool</h4>
                                        </div>
                                </article>
                                <article >
                                        <img src="/images/bicicleta.jpg"  alt="bicicleta"class="product_img">
                                        <div class="main-article">
                                            <i class="fas fa-truck"></i> 
                                            <div class="caja-precio"> 
                                                <p class="precio">$23.200</p>
                                                <p class="discont">5% off</p>
                                            </div>  
                                            <h4 class="description">Bicicleta todo Terreno</h4>
                                        </div>
                                </article>
                                <article >
                                    <img src="/images/img-parlante-bose.jpg"  alt="parlante bose"class="product_img">
                                    <div class="main-article">
                                        <i class="fas fa-truck"></i> 
                                        <div class="caja-precio"> 
                                            <p class="precio">$25.000</p>
                                            <p class="discont">5% off</p>
                                        </div>  
                                        <h4 class="description">Parlante bose"</h4>
                                    </div>
                            </article>
                            <article >
                                <img src="/images/img-aire-acondicionado.jpg"  alt="acondicionado"class="product_img">
                                <div class="main-article">
                                    <i class="fas fa-truck"></i> 
                                    <div class="caja-precio"> 
                                        <p class="precio">$23.200</p>
                                        <p class="discont">5% off</p>
                                    </div>  
                                    <h4 class="description">Aire Acondicionado"</h4>
                                    </div>
                            </article>
                            <article >
                                <img src="/images/camara.jpg"  alt="camara"class="product_img">
                            <div class="main-article">
                                <i class="fas fa-truck"></i> 
                                <div class="caja-precio"> 
                                    <p class="precio">$100.200</p>
                                    <p class="discont">25% off</p>
                                </div>  
                                <h4 class="description">Camara Nikon"</h4>
                            </div>
                            </article>
                            <article >
                                <img src="/images/img-iphone-11.jpg"  alt="iphone 11"class="product_img">
                            <div class="main-article">
                                <i class="fas fa-truck"></i> 
                                <div class="caja-precio"> 
                                    <p class="precio">$150.000</p>
                                    <p class="discont">25% off</p>
                                </div>  
                                <h4 class="description">iphone 11"</h4>
                            </div>
                            </article>
                        </div>   
                    </section>
                
        </main>

            <footer>
                <div class="footer">
                    <article class="pie-de-pagina">
                
                
                        <article class="sub-titulo">
    
                            <article class="sub-titulo">
                                <i class="fas fa-credit-card"></i>
                                <h2>Paga con tarjeta o efectivo</h2>
                                <p class="descripcion">con mercado liebre cash,tenés cuotas sin interés con tarjeta o efectivo en
                                    puntos de pago. ¡Y siempre es seguro!
                                </p>    
                            </article>
                        
                        </article>  
    
                        <article class="sub-titulo">
                                <i class="fas fa-gift"></i>  
                                <h2>Envios gratis desde $2500</h2>
                                <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                                    En veneficio de mercado Puntos.
                                </p>
                        </article>
    
                        
                            <article class="sub-titulo">
                                <i class="fas fa-user-shield"></i>
                                <h2>Seguridad, de principio a fin</h2>
                                <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                    porque estás siempre protegid@.
                                </p>
                                    
                            </article>
                
                    </article>
                    <div class="copy">
                    <section class="de-copy">
                        <div>Copyright&copy;1999-2020 MercadoLiebre S.R.L.</div>
                        </section> 
                    </div>
                </div>   
                
                
            </footer>
</body>
</html>