<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidos a MercadoLiebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet">
    </head>
<body>
    <header >
        <div class="top-header">
            <div class="top-header1">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo de MercadoLiebre"></a>

            <div class="search-bar">
                <form class="search">
                <input type="text" name="search" class="form-search" placeholder="Buscar productos y mas">
                </form>
                <i class="fas fa-search"></i>
            </div></div>


            <div class="top-header2">
                <p class="left-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="main-navbar">
        <ul class="left-navbar" >
            <li><a href="/trabajando">Preguntas Frecuentes</a></li>
            
        </ul>
        <ul class="right-navbar">
            <li><a href="/register">Crea tu Cuenta <i class="far fa-address-card"></i></i></a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-out-alt"></i></a></li>
            <li><a href="/card">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>

        </ul>
    </nav> 
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>   
</header>
<main class="no-funciona">

    <div class="mensaje" >
        <h2>Uy.. !Que mal, Encontraste la pag 404 , Esta página todavia esta en construcción! vení <a href="/">Acá</a> </h2>
        <img src="/images/not-found/error-404.jpg" alt="">
    </div>
</main>
<footer>
    <div class="footer">
        <article class="pie-de-pagina">
    
    
            <article class="sub-titulo">

                <article class="sub-titulo">
                    <i class="fas fa-credit-card"></i>
                    <h2>Paga con tarjeta o efectivo</h2>
                    <p class="descripcion">con mercado liebre cash,tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>    
                </article>
            
            </article>  

            <article class="sub-titulo">
                    <i class="fas fa-gift"></i>  
                    <h2>Envios gratis desde $2500</h2>
                    <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                        En veneficio de mercado Puntos.
                    </p>
            </article>

            
                <article class="sub-titulo">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                        
                </article>
    
        </article>
        <div class="copy">
        <section class="de-copy">
            <div>Copyright&copy;1999-2020 MercadoLiebre S.R.L.</div>
            </section> 
        </div>
    </div>   
    
    
</footer>
</body>
</html>