/*encabezado*/
header{
    background-color:#EAC926;
    
}
/*logo*/
.logo{
    width: 200px;
    padding-left: 21px;
    display: flex;
    margin-top: 29px;
    
}
/*la barra de la lupa*/
header .form .input {
    display: block;
    background-color: #FFF;
    border: none;
    color:#666;
    padding: 2px;
    margin-top: 35px;
}
header .form .submit{
    background-color: #FFF;
    border: none;
    color: #666;
    width: 10%;
   
}
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/*la barra del menu completo*/
header nav{
    font-size: 12px;
    display: none;
    width: 90%;
    padding: 10px;
  
}
header .mano-titulo{
    margin-top: 10px ;
    padding: 20px;
    margin-right: 15px;
}
/*titulo de compra*/
#compra{
    text-align: center;

}
/*la barra de los ul*/
.main-navbar {
    list-style-type:none;
    width: 90%;
    text-decoration: none;
   
}
.right-navbar{
    list-style-type:none;
    padding: 10px;
    
     
}
.left-navbar{
    list-style-type:none;
    padding: 10px;
    

}
/*el contenido de la barra ul*/
a {
    text-decoration: none;
    color:#000000;
}
/*el menu de 3 barritas*/
div.burger-menu{
    text-align: center;
}/*menu de 3 barritas*/
div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color:#FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}